<!DOCTYPE html>
<html>
	<head>
		<title>Donkey</title>
	</head>

	<body>
		{% if category %}
		<h1>{{ category_name }}</h1>
			{% if posts %}
			<ul>
				{% for post in posts %}
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
			{% else %}
				<strong>No posts currenly in category.</strong>
			{% endif %}
		{% else %}
			The specified category {{ category_name }} does not exists!
		{% endif %}
		<a href="/donkey/category/{{ category_name }}/add_page/">Add a New Post</a><br />
	</body>
</html>
