<!DOCTYPE html>
<html>
	<head>
		<title>Donkey</title>
	</head>

	<body>
		<h2>Title : {{ post.title }}</h2>
        	<h2>Writer : {{ post.user.user.username }}</h2>
        	<h1>Date : {{ post.modified_at }}</h1>
        	<h1>Content : {{ post.content }}</h1>

        {% if user.username == post.user.user.username %}
            <a href="/donkey/category/{{ category.name }}/{{ post.id }}/delete/">Delete</a>
            <a href="/donkey/category/{{ category.name }}/{{ post.id }}/edit/">Edit</a>

        {% endif %}



		<a href="{% url 'category' category_name=category.name %}">Back to Category</a><br />
	</body>
</html>
